extends layout

block content
  h1 EMD
  .w3-container
    ul.w3-ul 
        li Nome: #{dados.nome}
        li Data: #{dados.dataEMD}
        li Idade: #{dados.idade}
        li Morada: #{dados.morada}
        li Género: #{dados.género}
        li Modalidade: #{dados.modalidade}
        li Clube: #{dados.clube}
        li Email: #{dados.email}
        li Federado: #{dados.federado}
        li Resultado: #{dados.resultado}